In [1]:
import pandas as pd

In [2]:
#To read the file
file = open(r'08102021.txt','r')

In [3]:
#reading file line by line
linedata = file.readlines()

In [4]:
linedata

['From Arjun Rao to Me:  (Direct Message) 09:30 AM\n',
 'in sql\n',
 'in sql-inner join,outer join,left join,right join\n',
 'From yashwanth to Me:  (Direct Message) 09:31 AM\n',
 'types of joins in sql\n',
 'left join,right join ,full join,inner join,cross join\n',
 'From Arjun Rao to Me:  (Direct Message) 09:31 AM\n',
 'in pandas-outer join,inner ,left,right,full joins\n',
 'From raghav to Me:  (Direct Message) 09:31 AM\n',
 'joins in sql=inner,left,right,full , pandas=we use merge inner,outer,left,right\n',
 'From yashwanth to Me:  (Direct Message) 09:32 AM\n',
 'types of  joinin panadas\n',
 'left join\n',
 'right join, inner join ,full outer join \n',
 'From Rajeetha L P to Me:  (Direct Message) 09:32 AM\n',
 'Types of joins\n',
 '\n',
 'SQL : Innerjoin,full join,right join,leftjoin\n',
 '\n',
 'Python pandas:Innerjoin,left  join,right join,full  outer join ,index join\n',
 'From prasanna to Me:  (Direct Message) 09:32 AM\n',
 'types of joins in sql:\n',
 '1.inner join \n',
 '2.full outer join\n',
 '3.left join\n',
 '4.right join\n',
 '\n',
 'types of joins in pandas:\n',
 '1.inner join \n',
 '2.full outer join\n',
 '3.left join\n',
 '4.right join\n',
 '5.cross join\n',
 'From raghav to Me:  (Direct Message) 09:34 AM\n',
 'for connecting to aws from python boto3 library is used\n',
 'From prasanna to Me:  (Direct Message) 09:34 AM\n',
 'what is boto3 library\n',
 'it is a driver which connects python to s3\n',
 'From Arjun Rao to Me:  (Direct Message) 09:34 AM\n',
 'boto 3 is a library used connect s3 to python where storing and retriving file can be done\n',
 'From yashwanth to Me:  (Direct Message) 09:34 AM\n',
 'the library which we have to import for  accessing s3 buckets \n',
 'From Harshavardhan S to Me:  (Direct Message) 09:35 AM\n',
 '1.sql- inner join ,left outer,rightouter, full outer join. pandas-inner join,full join,left join right join 2 boto3 libiary it is aws software development it name of ptrhon and ccreate,update and delete aws resoures\n',
 'From yashwanth to Me:  (Direct Message) 09:46 AM\n',
 "df = pd.DataFrame({'student':['sachin','chetan','leela','nishant','sharanya','parvathi'],'marks':[50,80,90,70,60,75})\n",
 "df.loc[df['marks'] >,90 'frade'] = 'c'\n",
 'From prasanna to Me:  (Direct Message) 09:46 AM\n',
 "dict1={'student' :['Sachin', 'chethan','leela', 'nishanth', 'sharanya', 'parvathi'], 'marks':[50,80,90,70,60,75]}\n",
 'df1=pd.DataFrame(dict1)\n',
 'for x in df1.index:\n',
 "    if df1.loc[x,'marks']>=90:\n",
 "        df1.loc[x,'grade'] = 'a'\n",
 '    \n',
 "    elif 80<=df1.loc[x,'marks']<90:\n",
 "        df1.loc[x,'grade'] = 'b'\n",
 '    else:\n',
 "         df1.loc[x,'grade'] = 'c'\n",
 'From yashwanth to Me:  (Direct Message) 09:48 AM\n',
 "df.loc[df['marks']>90,'grade']='c'\n",
 "df.loc[df['marks']80 and df['marks']<90,grade]='b'\n",
 'From raghav to Me:  (Direct Message) 09:48 AM\n',
 "converting csv into DataFrame student_marks=pd.DataFrame({'students':['sachin','chethan','leela','nishanth','sharanya','parvathi'],'marks':[50,80,90,70,60,75]\n",
 'From Arjun Rao to Me:  (Direct Message) 09:48 AM\n',
 'import pandas as pd\n',
 "data=read_csv('file_name.csv')\n",
 'df=pd.DataFrame(data)\n',
 "df1= pd.DataFrame( {'grade':['c','b','a','b','c','b']})\n",
 "df['grades']=df1\n",
 'From yashwanth to Me:  (Direct Message) 09:50 AM\n',
 "df.filter[df['marks]>80]\n",
 'From prasanna to Me:  (Direct Message) 09:51 AM\n',
 "df1[df1['marks']>80]\n",
 'From Arjun Rao to Me:  (Direct Message) 09:51 AM\n',
 'df[(df.marks>80)]\n',
 'From prasanna to Me:  (Direct Message) 09:52 AM\n',
 'filter the students who are all have morethan 80 marks\n',
 "df1[df1['marks']>80]\n",
 'From Harshavardhan S to Me:  (Direct Message) 09:54 AM\n',
 '4.df[df.marks>80]\n',
 'From Harshavardhan S to Me:  (Direct Message) 09:59 AM\n',
 '5.def split(word):\n',
 '    return [char for char in word ]\n',
 "word='hello world'\n",
 'print(split(word))\n',
 'From Arjun Rao to Me:  (Direct Message) 10:01 AM\n',
 "str_given='hello world'\n",
 "str_output=str_given.count('l')\n",
 "print('for entered character:', str_output)\n",
 'From prasanna to Me:  (Direct Message) 10:02 AM\n',
 'write a program to count the character count  \n',
 "a= list('hello world')\n",
 '\n',
 'for i in a:\n',
 '    count=0\n',
 '    for j in a:\n',
 '        if i==j:\n',
 '            count=count+1\n',
 '    print(i,count)\n',
 '    a.remove(i)\n',
 'From Arjun Rao to Me:  (Direct Message) 10:03 AM\n',
 'df1=df[df.duplicated()]\n',
 'From prasanna to Me:  (Direct Message) 10:03 AM\n',
 'how to remove duplicates in pandas\n',
 'From Rajeetha L P to Me:  (Direct Message) 10:03 AM\n',
 'how to remove duplicate in pandas\n',
 'df.drop_duplicates( )\n',
 'From prasanna to Me:  (Direct Message) 10:04 AM\n',
 'how to remove duplicates in pandas\n',
 'df.drop_duplicates(inplace=True)\n',
 'From Arjun Rao to Me:  (Direct Message) 10:04 AM\n',
 'how to remove duplicate data in pandas?:df1=df[df.duplicated()]\n',
 'From raghav to Me:  (Direct Message) 10:04 AM\n',
 'removing duplicates in pandas : datat.drop_duplicates\n',
 'From Arjun Rao to Me:  (Direct Message) 10:05 AM\n',
 'datastructres are:list,set,tuple,dictionary\n',
 'From Rajeetha L P to Me:  (Direct Message) 10:05 AM\n',
 '3.List out data structures in python\n',
 '\n',
 'Ans: Lists, tuple Dict\n',
 'From raghav to Me:  (Direct Message) 10:05 AM\n',
 'data structures in python :list,set,tuples\n',
 'From Rajeetha L P to Me:  (Direct Message) 10:06 AM\n',
 '3.List out data structures in python\n',
 '\n',
 'Ans: Lists, tuple , Dictionary\n',
 'From Harshavardhan S to Me:  (Direct Message) 10:06 AM\n',
 '8.list,tuple,set,doctionary\n',
 'From yashwanth to Me:  (Direct Message) 10:06 AM\n',
 'data strucures in python  list,set ,tuple,dictionary,pandas\n',
 'From prasanna to Me:  (Direct Message) 10:06 AM\n',
 'data structures in python\n',
 'arrays, queues, staks, linked lists\n',
 'From yashwanth to Me:  (Direct Message) 10:06 AM\n',
 'stes are unordered,duplicates are not allowed,\n',
 'From Rajeetha L P to Me:  (Direct Message) 10:07 AM\n',
 '4.Sets in python\n',
 '\n',
 'Ans: sets store multiple values in single variable\n',
 'From raghav to Me:  (Direct Message) 10:07 AM\n',
 "sets in python: sets doesn't display duplicate values and it will display output in random manner not as input given\n",
 'From prasanna to Me:  (Direct Message) 10:07 AM\n',
 'tell me about sets in python\n',
 'sets in python donot have duplicates and also indexing sets is not possible in python\n',
 'From Arjun Rao to Me:  (Direct Message) 10:07 AM\n',
 'tell me about sets: sets are mutable,where values can be alteredand it does not allow duplicate values it works on hashing method\n',
 'From yashwanth to Me:  (Direct Message) 10:07 AM\n',
 'string is immutable\n',
 'From prasanna to Me:  (Direct Message) 10:07 AM\n',
 'string is immutable\n',
 'From Harshavardhan S to Me:  (Direct Message) 10:07 AM\n',
 '9.finite ,infiniteset\n',
 'From Arjun Rao to Me:  (Direct Message) 10:07 AM\n',
 'immutable\n',
 'From Harshavardhan S to Me:  (Direct Message) 10:08 AM\n',
 '10.immutable\n',
 'From Rajeetha L P to Me:  (Direct Message) 10:08 AM\n',
 '5.String is Immutable.\n',
 'From raghav to Me:  (Direct Message) 10:08 AM\n',
 'is string is mutable : yes\n',
 'From yashwanth to Me:  (Direct Message) 10:09 AM\n',
 'no we  cant replace the character in a string\n',
 'From Arjun Rao to Me:  (Direct Message) 10:09 AM\n',
 'yes,str.replace()\n',
 'From Rajeetha L P to Me:  (Direct Message) 10:10 AM\n',
 '6. Is it possible to replace a character in a string\n',
 '\n',
 '\n',
 'Ans: yes\n',
 '\n',
 'code: str.replace( )\n',
 'From prasanna to Me:  (Direct Message) 10:10 AM\n',
 'can we replace character in a string\n',
 'yes we can but not directly but only after conerting it yo list\n',
 "a=list('cat')\n",
 "a[0]='B'\n",
 'From Harshavardhan S to Me:  (Direct Message) 10:11 AM\n',
 "11.x='cat'\n",
 "new_string=x.replace('c'.'at')\n"]

In [5]:
lst = [] #to store final dictonery to create DataFrame
lst1 = [] #to store multiple line text
for j,i in enumerate(linedata):
    if i[0] == 'F':
        dict1 = {} #for creating DataFrame
        lst1 = [] #here we reset list
        fr = i.find('From') #it will store starting location of From
        To = i.find('to') #it will store starting location of to
        msgto = i.find(':') #it will store starting location of :
        msgtype = i.find('(') #it will store starting location of (
        msgtype1 = i.find(')') #it will store starting location of )
        dict1['From'] = i[fr+5:To]
        dict1['To'] = i[To+3:msgto]
        dict1['MessageType'] = i[msgtype+1:msgtype1]
        dict1['MessageTime'] = i[msgtype1+1:-1]
    else:
        txt = ""
        i = i.strip("\n") #removing \n(new line)
        lst1.append(i)
        for i in lst1:
            txt = txt +" "+ i
        dict1['Text'] = txt
        if j == len(linedata)-1 or linedata[j+1][0] == 'F':
            lst.append(dict1)

In [6]:
df = pd.DataFrame(lst)

In [7]:
df

,From,To,MessageType,MessageTime,Text
0,Arjun Rao,Me,Direct Message,09:30 AM,"in sql in sql-inner join,outer join,left join..."
1,yashwanth,Me,Direct Message,09:31 AM,"types of joins in sql left join,right join ,f..."
2,Arjun Rao,Me,Direct Message,09:31 AM,"in pandas-outer join,inner ,left,right,full j..."
3,raghav,Me,Direct Message,09:31 AM,"joins in sql=inner,left,right,full , pandas=w..."
4,yashwanth,Me,Direct Message,09:32 AM,types of joinin panadas left join right join...
5,Rajeetha L P,Me,Direct Message,09:32 AM,"Types of joins SQL : Innerjoin,full join,rig..."
6,prasanna,Me,Direct Message,09:32 AM,types of joins in sql: 1.inner join 2.full o...
7,raghav,Me,Direct Message,09:34 AM,for connecting to aws from python boto3 libra...
8,prasanna,Me,Direct Message,09:34 AM,what is boto3 library it is a driver which co...
9,Arjun Rao,Me,Direct Message,09:34 AM,boto 3 is a library used connect s3 to python...
10,yashwanth,Me,Direct Message,09:34 AM,the library which we have to import for acce...
11,Harshavardhan S,Me,Direct Message,09:35 AM,"1.sql- inner join ,left outer,rightouter, ful..."
12,yashwanth,Me,Direct Message,09:46 AM,"df = pd.DataFrame({'student':['sachin','cheta..."
13,prasanna,Me,Direct Message,09:46 AM,"dict1={'student' :['Sachin', 'chethan','leela..."
14,yashwanth,Me,Direct Message,09:48 AM,"df.loc[df['marks']>90,'grade']='c' df.loc[df[..."
15,raghav,Me,Direct Message,09:48 AM,converting csv into DataFrame student_marks=p...
16,Arjun Rao,Me,Direct Message,09:48 AM,import pandas as pd data=read_csv('file_name....
17,yashwanth,Me,Direct Message,09:50 AM,df.filter[df['marks]>80]
18,prasanna,Me,Direct Message,09:51 AM,df1[df1['marks']>80]
19,Arjun Rao,Me,Direct Message,09:51 AM,df[(df.marks>80)]
20,prasanna,Me,Direct Message,09:52 AM,filter the students who are all have morethan...
21,Harshavardhan S,Me,Direct Message,09:54 AM,4.df[df.marks>80]
22,Harshavardhan S,Me,Direct Message,09:59 AM,5.def split(word): return [char for char ...
23,Arjun Rao,Me,Direct Message,10:01 AM,str_given='hello world' str_output=str_given....
24,prasanna,Me,Direct Message,10:02 AM,write a program to count the character count ...
25,Arjun Rao,Me,Direct Message,10:03 AM,df1=df[df.duplicated()]
26,prasanna,Me,Direct Message,10:03 AM,how to remove duplicates in pandas
27,Rajeetha L P,Me,Direct Message,10:03 AM,how to remove duplicate in pandas df.drop_dup...
28,prasanna,Me,Direct Message,10:04 AM,how to remove duplicates in pandas df.drop_du...
29,Arjun Rao,Me,Direct Message,10:04 AM,how to remove duplicate data in pandas?:df1=d...
30,raghav,Me,Direct Message,10:04 AM,removing duplicates in pandas : datat.drop_du...
31,Arjun Rao,Me,Direct Message,10:05 AM,"datastructres are:list,set,tuple,dictionary"
32,Rajeetha L P,Me,Direct Message,10:05 AM,3.List out data structures in python Ans: Li...
33,raghav,Me,Direct Message,10:05 AM,"data structures in python :list,set,tuples"
34,Rajeetha L P,Me,Direct Message,10:06 AM,3.List out data structures in python Ans: Li...
35,Harshavardhan S,Me,Direct Message,10:06 AM,"8.list,tuple,set,doctionary"
36,yashwanth,Me,Direct Message,10:06 AM,"data strucures in python list,set ,tuple,dic..."
37,prasanna,Me,Direct Message,10:06 AM,"data structures in python arrays, queues, sta..."
38,yashwanth,Me,Direct Message,10:06 AM,"stes are unordered,duplicates are not allowed,"
39,Rajeetha L P,Me,Direct Message,10:07 AM,4.Sets in python Ans: sets store multiple va...
40,raghav,Me,Direct Message,10:07 AM,sets in python: sets doesn't display duplicat...
41,prasanna,Me,Direct Message,10:07 AM,tell me about sets in python sets in python d...
42,Arjun Rao,Me,Direct Message,10:07 AM,"tell me about sets: sets are mutable,where va..."
43,yashwanth,Me,Direct Message,10:07 AM,string is immutable
44,prasanna,Me,Direct Message,10:07 AM,string is immutable
45,Harshavardhan S,Me,Direct Message,10:07 AM,"9.finite ,infiniteset"
46,Arjun Rao,Me,Direct Message,10:07 AM,immutable
47,Harshavardhan S,Me,Direct Message,10:08 AM,10.immutable
48,Rajeetha L P,Me,Direct Message,10:08 AM,5.String is Immutable.
49,raghav,Me,Direct Message,10:08 AM,is string is mutable : yes
50,yashwanth,Me,Direct Message,10:09 AM,no we cant replace the character in a string
51,Arjun Rao,Me,Direct Message,10:09 AM,"yes,str.replace()"
52,Rajeetha L P,Me,Direct Message,10:10 AM,6. Is it possible to replace a character in a...
53,prasanna,Me,Direct Message,10:10 AM,can we replace character in a string yes we c...
54,Harshavardhan S,Me,Direct Message,10:11 AM,11.x='cat' new_string=x.replace('c'.'at')

In [8]:
df.to_excel('ZoomChat.xlsx','sheet1')